<h2>Solar and PG&E</h2>

Solar generation (green) and PG&E usage (red). Negative PG&E is good!

<br/>

<img id="LiveGraph" src="<%= @liveGraphURL %>" width="480" height="319" alt="Solar & Power Meter"/> 