<h2>Solar and PG&E</h2>

Solar generation (green), PG&E usage (red) and net usage (Solar and PG&E combined - gray). Negative PG&E is good!

<br/>&nbsp;<br/>&nbsp;<br/>

<img id="LiveGraph" src="<%= @liveGraphURL %>" width="480" height="319" alt="Solar & Power Meter"/> 