<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
	<channel>
		<title>Silver Fiddle Power</title>
		<description></description>
		<link>http://www.wabbitinc.com</link>
		<language>en-US</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
      	<% 	dayIdx = 0; 
      		while (dayIdx < @daysToDisplay) do;
	 		day = @dayLabel[dayIdx]
			dayRfc822 = @rfc822Label[dayIdx]
			description = @descriptions[dayIdx]
		%>
		<item>
			<title>Data for <%= day %></title>
			<pubDate><%= dayRfc822 %></pubDate>
			<guid>http://www.wabbitinc.com/power/<%= day %></guid>
			<description><%= description %></description>
		</item>
		<% 	dayIdx = dayIdx + 1
			end %>
	</channel>
</rss>

