<%= form_for(@day_hist) do |f| %>
  <% if @day_hist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_hist.errors.count, "error") %> prohibited this day_hist from being saved:</h2>

      <ul>
      <% @day_hist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
