<h2>Power by Day</h2>
<table class=table>
  <tr>
    <th>Date</th>
    <th>Monitor</th>
    <th>Wattage</th>
  </tr>

<% @day_hists.each do |day_hist| %>
  <tr>
    <td><%= day_hist.day %></td>
    <td><%= mtu_to_string( day_hist.mtu ) %></td>
    <td><%= day_hist.watts %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @day_hists, :renderer => BootstrapPagination::Rails %>

