<h2>Power Every 10 minutes</h2>

<table class=table>
  <tr>
	<th>Time</th>
    <th>Monitor</th>
    <th>Watts</th>
  </tr>

<% @ted_data.each do |ted_datum| %>
  <tr>
    <td><%= ted_datum.cumtime %></td>
    <td><%= mtu_to_string( ted_datum.mtu )  %></td>
    <td><%= ted_datum.watts %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @ted_data, :renderer => BootstrapPagination::Rails %>

